    <!-- footer section start -->
    <section class="footer">
        <div class="icons-container">
            <div class="icons">
               <i class="fas fa-clock"></i> 
               <h3>Opening Hours</h3>
               <p>07:00am to 10:00pm</p>
            </div>
            <div class="icons">
                <i class="fas fa-phone"></i> 
                <h3>Phone</h3>
                <p>+234-803-981-2254</p>
                <p>+234-801-222-2039</p>
             </div>
            <div class="icons">
                <i class="fas fa-envelope"></i> 
                <h3>Email</h3>
                <p>greaterfood@gmail.com</p>
                <p>greaterfood@yahoo.com</p>
            </div>
            <div class="icons">
                <i class="fas fa-map"></i> 
                <h3>Address</h3>
                <p>Okepopo, Lagos Island - Lagos</p>
            </div>
        </div>
        <div class="share">
            <a href="#" class="fab fa-facebook"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
        </div>
        <div class="credit">
            Created by <span>Greater Heights</span> | All Rights Reserved!
        </div>
    </section>
    <!-- footer section end -->